@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700;800&display=swap');

.w-layout-grid {
    display: -ms-grid;
    display: grid;    
    grid-auto-columns: 1fr;    
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; 
    grid-row-gap: 1rem;
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
}

.body {
    border-top-style: none;
    border-top-width: 0rem;
    border-top-color: black;
    border-right-style: none;
    border-right-width: 0rem;
    border-right-color: black;
    border-bottom-style: none;
    border-bottom-width: 0rem;
    border-bottom-color: black;
    border-left-style: none;
    border-left-width: 0rem;
    border-left-color: black;
    background-color: hsla(233.3333333333333, 11.11%, 15.88%, 1.00);
}

.headsec {
    display: flex;
    margin-top: 2.5rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.button-2 {
    display: block;
    width: 5.625rem;
    height: 2.313rem;
    margin-right: 1.625rem;
    padding-top: 0.938rem;
    padding-right: 1.563rem;
    padding-bottom: 0rem;
    padding-left: 1.688rem;
    border-top-style: solid;
    border-top-width: 0.063rem;
    border-top-color: transparent;
    border-right-style: solid;
    border-right-width: 0.063rem;
    border-right-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0.063rem;
    border-bottom-color: transparent;
    border-left-style: solid;
    border-left-width: 0.063rem;
    border-left-color: transparent;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: hsla(233.3333333333333, 11.11%, 15.88%, 1.00);
    color: hsla(0, 0.00%, 94.90%, 1.00);;
    font-family: Montserrat;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}

.button-2:focus{
    background-color: hsla(248, 11.86%, 11.57%, 1);
}

.adbutton {
    padding-top: 1.063rem;
    padding-right: 1.875rem;
    padding-bottom: 1rem;
    padding-left: 1.875rem;
    margin-left: auto;
    margin-right: -2%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #b798c1;
    font-family: Montserrat;
    color: hsla(0, 0.00%, 0.00%, 1.00);
}

.section-4 {
    display: grid;
    margin-top: 3.125rem;
    margin-right: 3.125rem;
    margin-left: 5rem;
    grid-auto-columns: 1fr;
    grid-column-gap: 4.375rem;
    grid-row-gap: 1.625rem;
    grid-template-columns: repeat(5,12.5rem);
    grid-template-rows: auto auto;
}

.div-block-2 {
    display: block;
    width: 10.625rem;
    height: 21.313rem;
    object-fit: none;
}

.image-2 {
    margin-bottom: 0.938rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.text-block {
    font-family: Montserrat;
    color: #b798c1;
    font-size: 1.5rem;
    font-weight: 700;
}

.text-block-2 {
    font-family: Montserrat;
    color: hsla(0, 0.00%, 100.00%, 1.00);
    font-size: 1.75rem;
    font-weight: 300;
    margin: 2% 0 2%;
}

.text-block-3 {
    font-family: Montserrat;
    color: grey;
    font-style: italic;
    font-size: 1rem;
}

.back_button {
    color: black;
    width: 0rem;
    height: 0rem;
    border: 1.5rem solid;
    border-top: 1.732rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.732rem solid #b798c1;
    border-left: 1rem solid transparent;
    position: fixed;
    margin-bottom: 100rem;
    margin-right: 100rem;
}

.button {
    position: absolute;
    right: 5%;
    bottom: 12%;
    transform: translate(-100%, -0%);

}
