@import url(//db.onlinewebfonts.com/c/36e469f4478980088468fc30605f4b4c?family=Plain+Medium);

@font-face {
    font-family: 'silk_serifmedium';
    src: url('fonts/silk_serif_medium-webfont.woff2') format('woff2'),
         url('fonts/silk_serif_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk_serifitalic';
    src: url('fonts/silk_serif_regular_italic-webfont.woff2') format('woff2'),
         url('fonts/silk_serif_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg: #fff;
    --txt: #1B1A21;
    --purple: #B798C1;
    --grey: #707070;
    --filter: invert(0%);
}

[data-theme="dark"] {
    --bg: #1B1A21;
    --txt: #fff;
    --purple: #B798C1;
    --grey: #707070;
    --filter: invert(100%);
}

html{
    background-color: var(--bg);
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    display: inline-block;
    font-family: "Plain Medium";
    font-size: 7rem;
    z-index: 0;
    color: var(--txt);
    position: relative;
}

.and{
    font-family: "silk_serifmedium";
    font-style: medium;
    font-size: 10rem;
    font-style: normal;
    z-index: 1;
    position: absolute;
    bottom: -4.3rem;
    left: 15.5rem;
    color: var(--purple);
}

/*
.subheading{
    font-family: "Silk Serif";
    font-size: 10rem;
} */

.margin{
    border: var(--grey);
    border-width: 1px;
    border-style: solid;
    margin: 3rem 3rem 3rem 3rem;
    text-align: center;
    z-index: -1;
    background-color: var(--bg);
}

.bodymar{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--bg);
}

.innermargin1{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    padding: 3rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: var(--bg);
}

.innermargin2{
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
}

.projects{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: var(--purple);
    align-content: center;
}

.textpro{
    font-family: "Plain Medium";
    color: var(--bg);
    font-size: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
}

.map{
    display: grid;
    align-content: center;
    padding: 1rem;
}

.textmap{
    font-family: 'silk_serifitalic';
    color: var(--txt);
    font-size: 5rem;
    writing-mode: vertical-rl;
}

.box3{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    grid-template-rows: 50% 50%;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.box4{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    padding: 1rem;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: var(--purple);
    position: relative;
}

.textshops{
    font-family: "Plain Medium";
    font-size: 2rem;
    text-align: left;
    position: inherit;
    top: -7px;
    left: -3px;
    line-height: 1;
    color: var(--txt);
}


.box42{
    display: grid;
    position: relative;
}

.ebay{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    padding: 2rem;
    grid-column: 1 / span 3;
    border-right: none;
    border-left: none;
    border-bottom: none;
    align-content: center;
    position: relative;
}

.textebay{
    font-family: 'silk_serifitalic';
    color: var(--txt);
    font-size: 7rem;
    align-content: center;
    position: inherit;

}

.spoky{
    position: inherit;
    width:60%;
    height:65%;
    filter: var(--filter);
    top: 1.35rem;
    left: 1.7rem;
}

.links{
    text-decoration: none;
}

/* .click{
    font-family: 'silk_serifitalic';
    color: var(--purple);
    font-size: 1.5rem;
    position: inherit;
    top: -2.5rem;
} */


.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
  }
  .theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ffffff;
  }

  .box42 {
    display: flex;
    width: 100%;
    height: 100%;
    /* background: var(--color-secondary); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  /* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B798C1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } */
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* input:checked + .slider {
    background-color: #B798C1 ;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #B798C1;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  