@import url(//db.onlinewebfonts.com/c/36e469f4478980088468fc30605f4b4c?family=Plain+Medium);

@font-face {
    font-family: 'silk_serifmedium';
    src: url('fonts/silk_serif_medium-webfont.woff2') format('woff2'),
         url('fonts/silk_serif_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk_serifitalic';
    src: url('fonts/silk_serif_regular_italic-webfont.woff2') format('woff2'),
         url('fonts/silk_serif_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg: #fff;
    --txt: #1B1A21;
    --purple: #B798C1;
    --grey: #707070;
    --filter: invert(0%);
}

[data-theme="dark"] {
    --bg: #1B1A21;
    --txt: #fff;
    --purple: #B798C1;
    --grey: #707070;
    --filter: invert(100%);
}

html{
    background-color: var(--bg);
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    display: inline-block;
    font-family: "Plain Medium";
    font-size: 7rem;
    z-index: 0;
    color: var(--txt);
    position: relative;
}

.and{
    font-family: "silk_serifmedium";
    font-style: medium;
    font-size: 10rem;
    font-style: normal;
    z-index: 1;
    position: absolute;
    bottom: -4.3rem;
    left: 15.5rem;
    color: var(--purple);
}

/*
.subheading{
    font-family: "Silk Serif";
    font-size: 10rem;
} */

.margin{
    border: var(--grey);
    border-width: 1px;
    border-style: solid;
    margin: 3rem 3rem 3rem 3rem;
    text-align: center;
    z-index: -1;
    background-color: var(--bg);
}

.bodymar{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--bg);
}

.innermargin1{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    padding: 3rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: var(--bg);
}

.innermargin2{
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
}

.projects{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: var(--purple);
    align-content: center;
}

.textpro{
    font-family: "Plain Medium";
    color: var(--bg);
    font-size: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
}

.map{
    display: grid;
    align-content: center;
    padding: 1rem;
}

.textmap{
    font-family: 'silk_serifitalic';
    color: var(--txt);
    font-size: 5rem;
    writing-mode: vertical-rl;
}

.box3{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    grid-template-rows: 50% 50%;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.box4{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    padding: 1rem;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: var(--purple);
    position: relative;
}

.textshops{
    font-family: "Plain";
    font-size: 2rem;
    text-align: left;
    position: inherit;
    top: -7px;
    left: -3px;
    line-height: 1;
    color: var(--txt);
}


.box42{
    display: grid;
    position: relative;
}

.ebay{
    display: grid;
    border:var(--grey);
    border-width: 1px;
    border-style: solid;
    padding: 2rem;
    grid-column: 1 / span 3;
    border-right: none;
    border-left: none;
    border-bottom: none;
    align-content: center;
    position: relative;
}

.textebay{
    font-family: 'silk_serifitalic';
    color: var(--txt);
    font-size: 7rem;
    align-content: center;
    position: inherit;

}

.spoky{
    position: inherit;
    width:60%;
    height:65%;
    filter: var(--filter);
    top: 1.35rem;
    left: 1.7rem;
}

.links{
    text-decoration: none;
}