@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700;800&display=swap');

.body {
    max-height: 7.813rem;
    max-width: 63.313rem;
    min-height: 7.813rem;
    min-width: 63.313rem;
    border-style: none;
    border-width: 0rem;
    border-color: black;    
    background-color: hsla(233.3333333333333, 11.11%, 15.88%, 1.00);    
}

.utility-page-wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.utility-page-content{ 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox;
    display: flex;
    width: 16.25rem;
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    text-align: center;
}

.utility-page-form{ 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;    
    display: flex;    
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal;    
    -webkit-flex-direction: column;    
    -ms-flex-direction: column;    
    flex-direction: column; 
    -webkit-box-align: stretch; 
    -webkit-align-items: stretch;     
    -ms-flex-align: stretch; 
    align-items: stretch;
}

.search-input {
    width: 34.375rem;
    height: 3.3125rem;
    max-width: 24.75rem;
    margin-top: 0rem;
    padding-left: 2.5625rem;
    flex-grow: 7;
    flex-shrink: 1;
    flex-basis: auto;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: transparent;    
    border-radius: 0.8125rem;
    background-color: hsla(248.57142857142853, 11.86%, 11.57%, 1.00);
    font-family: Montserrat;
    color: hsla(0, 1.39%, 75.66%, 1.00);
    font-style: italic;
    font-weight: 400;
    background-clip: border-box;
    object-fit: none;
}
  
.search-input:small {
    width: 31.25rem;
    height: 3.125rem;
    max-width: 21.3125rem;
}

.search-button {
    display: block;
    margin-left: 2.3125rem;
    padding-top: 0rem;
    padding-right: 1.875rem;
    padding-bottom: 0rem;
    padding-left: 1.875rem;
    clear: both;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    border-style: solid;
    border-width: 0.0625rem;    
    border-left-color: hsla(0, 3.23%, 4.52%, 1.00);
    border-radius: 0.9375rem;
    background-color: #b798c1;
    font-family: Montserrat;
    color: hsla(0, 0.00%, 3.33%, 1.00);
  }
  
.search-button:small {
    margin-left: 1.375rem;
}

.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;   
    display: flex;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;    
    display: flex;
    width: 71.8125rem;
    margin-top: 2.1875rem;
    margin-right: 3.5625rem;
    margin-left: 3.1875rem;
    justify-content: space-between;
    grid-template-rows: auto auto;
    object-fit: fill;
}

.button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;   
    display: flex;
    padding-top: 1.0625rem;
    padding-right: 1.875rem;
    padding-bottom: 0rem;
    padding-left: 1.875rem;
    border-radius: 0.9375rem;
    background-color: #b798c1;
    font-family: Montserrat;
    color: hsla(0, 0.00%, 0.00%, 1.00);
}

.section-2 {
    display: flex;
    margin-top: 1.25rem;
    margin-right: 3.5625rem;
    margin-left: 3.1875rem;
    justify-content: flex-start;
}

.button-2:link {
    text-decoration: none;
    display: block;
    width: 7.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
    padding-top: 1.08rem;
    padding-right: 0.9375rem;
    padding-bottom: 0rem;
    padding-left: 0.9375rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: transparent;    
    border-radius: 0.9375rem;    
    color: rgb(255, 255, 255);     
    font-family: Montserrat;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}

.button-2:link:hover{
    background-color: hsla(248.5714, 11.86%, 11.57%, 1.00);
}

.button-2:visited {
    text-decoration: none;
    display: block;
    width: 7.5rem;
    height: 2.5rem;
    margin-right: 1.5625rem;
    padding: 1.25rem 1rem 0 1rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: transparent;   
    border-radius: 1rem;
    background-color: hsla(248.5714, 11.86%, 11.57%, 1.00);
    color: rgb(255, 255, 255);    ;
    font-family: Montserrat;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}

.section-3 {
    display: grid;
    margin-top: 2.25rem;
    margin-right: 3.5625rem;
    margin-bottom: 1.75rem;
    margin-left: 3.1875rem;
    grid-auto-columns: 1fr;
    grid-column-gap: 2.3125rem;
    grid-row-gap: 1.875rem;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    grid-template-rows: auto auto;
    border-radius: 0.9375rem;
}
  
.section-3:small {
    grid-auto-columns: 1fr;
    grid-template-areas: "Area ."
      ". Area-7"
      "Area-5 Area-6"
      ". Area-8";
    grid-template-columns: 0.25fr 0.25fr;
    grid-template-rows: auto auto auto auto auto;
}

.button-3 {
    padding: 5rem 3.8125rem;    
    border-radius: 0.9375rem;    
    background-color: #282a37;    
    font-family: Montserrat, sans-serif;    
    font-size: 1rem;    
    font-weight: 600;
}

.grid{
    grid-column-gap: 1.4375rem;  
    grid-row-gap: 1.4375rem;    
    grid-template-areas: "Area"
        "Area";
    -ms-grid-columns: 1fr 1.4375rem 1fr 1.4375rem 1fr 1.4375rem 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 1.4375rem auto 1.4375rem auto;  
    grid-template-rows: auto auto auto;
}
    
.heading {
    margin-top: 0.625rem;
    margin-right: -1.5625rem;
    margin-bottom: 0.3125rem;
    margin-left: -1.5625rem;
    font-family: Montserrat;
    color: hsla(0, 0.00%, 99.33%, 1.00);
    font-size: 1rem;
    text-align: center;
}

.paragraph {
    margin-top: 0rem;
    margin-bottom: -1.125rem;
    font-family: Montserrat;
    color: hsla(0, 0.00%, 100.00%, 1.00);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
}

.div-block {
    width: 12.5rem;
    height: 9.375rem;
    padding: 1.875rem 1.5625rem 1.875rem 1.5625rem;
    clear: none; 
    border-radius: 1.875rem;
    background-color: #282a37;
    box-shadow: 0.25rem 0.25rem 0.8125rem 0 rgba(0, 0, 0, 0.24);
    color: #282a37;    
    text-align: center;    
    -o-object-fit: contain;    
    object-fit: contain;
}

.image {
    display: center;
    width: 5.6875rem;
    border-radius: 10.9375rem;
    transform: translate(0rem, 0rem);
}

.section:medium {
    width: 56.25rem;
}
  
.search-input:small {
    width: 31.25rem;
    height: 3.125rem;
    max-width: 21.3125rem;
}

.info {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
  }

@media screen and (max-width: 61.9375rem){ 
    .section {
        width: 56.25rem;
    }
}

@media screen and (max-width: 47.9375rem) {
    .search-input {
        width: 31.25rem;
        height: 3.125rem;
        max-width: 21.3125rem;
    }

    .search-button{
        margin-left: 1.375rem;
    }

    .section-3 {
        grid-auto-columns: 1fr; 
        grid-template-areas: "Area ."
            ". Area-7"
            "Area-5 Area-6"
            ". Area-8";        
        -ms-grid-columns: 0.25fr 0.25fr;
        grid-template-columns: 0.25fr 0.25fr;
        -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        }
    }

.search w-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
}

.back_button {
    color: black;
    width: 0rem;
    height: 0rem;
    border: 1.5rem solid;
    border-top: 1.732rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.732rem solid #b798c1;
    border-left: 1rem solid transparent;
    position: fixed;
    margin-bottom: 100rem;
    margin-right: 100rem;
}

.Button {
    position: fixed;
    right: 6%;
    bottom: 15%;
    transform: translate(-100%, -0%);
}

        











