@import url(//db.onlinewebfonts.com/c/c8002809ed49394a1aab4a4ceaff09a6?family=Neue+Haas+Grotesk);
@import url(//db.onlinewebfonts.com/c/426a9cc6e7ce601d5cddd94e273ed4f8?family=Caxton);

body{
    background-color: #121212;
    font-family: "Caxton Bold";
    color: #b798c1;
    font-size: 1vw;
    line-height: 1.6;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Caxton, sans-serif;
    font-size: 8.98em;
    line-height: 0.96;
    font-weight: 700; 
    letter-spacing: -0.09em;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Caxton, sans-serif;
    font-size: 7.77em;
    line-height: 0.66;
    font-weight: 700; 
    letter-spacing: -0.08em;
}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Caxton, sans-serif;
    font-size: 6.56em;
    line-height: 0.9;
    font-weight: 700; 
    letter-spacing: -0.08em;
}

h4{
    margin-top: 0px;
    margin-bottom: 0.4px;
    font-size: 3.41em;
    line-height: 0.8;
    font-weight: 400;
    text-transform: uppercase;
}

h5{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.6em;
    line-height: 0.99;
    font-weight: 700; 
    text-transform: uppercase;
}

h6{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.46em;
    line-height: 1.2;
    font-weight: 500; 
    text-transform: uppercase;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.04em;
    line-height: 1.4;
    text-transform: uppercase;
}

a{
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

blockquote{
    margin-bottom: 1em;
    padding: 1em 2em;
    border-left: 0.4em solid #e2e2e2;
    font-size: 140%;
    line-height: 1.6;
}

.container {
    z-index: 1;
    width: 1560px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2.7em;
    padding-right: 6.25em;
    padding-bottom: 2.7em;
    padding-left: 6.25em;
}
  
.container.is--hero {
padding-top: 6.62em;
}

.container.is--wider {
    padding-right: 1.15em;
    padding-left: 1.15em;
}

.container.is--nav {
    padding-right: 0.83em;
    padding-left: 0.83em;
}

.container.is--navbar{
    position: relative;
    z-index: 2;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.style_item{
    padding: 2em 0em;
    border-bottom: 0.1em solid #bdbdbd;
}

.html {
    position: absolute;
    left: 0%;    
    top: 0%;    
    right: 0%;    
    bottom: auto; 
    overflow: hidden;    
    width: 0px;    
    height: 0px;    
}
    
.c-rich-text p {  
    margin-top: 0.5em;    
    margin-bottom: 2em;
}
    
.c-rich-text h1 {
    margin-top: 0.2em;    
    margin-bottom: 0.2em;
}
    
.c-rich-text h2 {   
    margin-top: 0.2em;    
    margin-bottom: 0.2em;
}
    
.c-rich-text h3 {   
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.section{
    position: relative;
    z-index: 2;
}

.section.is--nav{
    position: fixed;
    z-index: 1000;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    border-bottom: 1px solid #b798c1; 
    background-color: #121212;
}

.display {
    font-family: Caxton, sans-serif;
    font-size: 9.96em;
    line-height: 1;
    letter-spacing: -0.09em;
    white-space: nowrap;
}

.grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
}

.grid.is--merch-column { 
    position: relative; 
    width: 50%; 
    -webkit-box-align: end; 
    -webkit-align-items: flex-end; 
    -ms-flex-align: end; 
    align-items: flex-end;
    z-index: 2;
}

.grid.is--resources {  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid.is--footer{
    position: relative;
}

.grid.is--merch-column2 { 
    position: relative;
    z-index: 1;   
    width: 50%;
    flex-wrap: nowrap; 
    align-items: flex-end;
}

.grid_item { 
    width: 100%; 
    padding: 1.04em;
}

.grid_item.is--hero-content {
    display: flex;
    width: 30%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.grid_item.is--hero-img1 { 
    display: flex; 
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.grid_item.is--hero-img2 {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.grid_item.is--banner-left {
    display: flex;
    width: 40%; 
    padding: 3.07em 6.44em;
    justify-content: flex-start;     
    align-items: center;    
    background-color: #b798c1;
    color: #121212;
}

.grid_item.is--banner-right {
    display: flex;
    width: 60%; 
    padding: 3.07em 6.44em;
    justify-content: flex-start;     
    align-items: center;    
    border-color: #b798c1;
    color: #e8e8e8;
}

.grid_item.is--merch-link {
    width: 20%;
}

.grid_item.is--merch-img2 { 
    width: 80%; 
    height: 100%;
}

.grid_item.is--merch-img1 { 
    position: relative;
    z-index: 1; 
    width: 60%;
    margin-right: -20%; 
    margin-bottom: 16.2em;
    margin-left: -20%;
}

.grid_item.is--merch-img3 {
    width: 40%;
    margin-right: -20%; 
    margin-bottom: 4.53em;
    margin-left: -20%;
}

.grid_item.is--merch-title {
    padding-top: 8.24em;
}

.grid_item.is--resources { 
    position: relative; 
    z-index: 2; 
    width: 40%; 
    margin-right: auto; 
    margin-left: auto;
}

.grid_item.is--social { 
    width: 10%; 
}
    
.grid_item.is--footer-copyright { 
    padding-top: 1.64em; 
    color: rgba(183, 152, 193, 0.3); 
}

.grid_item.grid.is--footer {
    width: 100%;
    padding-top: 1.04em;
    padding-right: 1.04em;
    padding-bottom: 1.04em;
    padding-left: 1.04em;
}

.grid_item.is--footer-top {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: auto;
}

