@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;500;600;700;800;900&display=swap');
@import url('http://fonts.googleapis.com/css?family=Poiret+One');


body {
    background-color: #161625;    
	/* Keep the inherited background full size. */
	background-attachment: fixed; 
    background-repeat: no-repeat;
	background-size: cover;
	display: grid;
    align-items: center;
	justify-content: center;
}

p {
    position: absolute;   
}

.shops_list {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name{
    color: rgba(170, 166, 166, 0.568);
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 10rem;
    text-decoration : none;   
    display: block;
}

.name:hover{
    color: grey;
    font-weight: 500;
    font-size: 3rem;
    /* transition: font-size ease; */
    transition: 0.3s ease-in-out;
}


.back_button {
    color: black;
    width: 0px;
    height: 0px;
    border: 1.5rem solid;
    border-top: 1.732rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.732rem solid white;
    border-left: 1rem solid transparent;
    position: fixed;
    margin-bottom: 100rem;
    margin-right: 100rem;
}

.button {
    position: fixed;
    right: 4%;
    bottom: 12%;
    transform: translate(-100%, -0%);

}