@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;500;600;700;800;900&display=swap');
@import url('http://fonts.googleapis.com/css?family=Poiret+One');
@font-face {
    font-family: 'silk_serifmedium';
    src: url('fonts/silk_serif_medium-webfont.woff2') format('woff2'),
         url('fonts/silk_serif_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'silk_serifitalic';
    src: url('fonts/silk_serif_regular_italic-webfont.woff2') format('woff2'),
         url('fonts/silk_serif_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1a1b24;    
	/* Keep the inherited background full size. */
	background-attachment: fixed; 
    background-repeat: no-repeat;
	background-size: cover;
	display: grid;
    align-items: center;
	justify-content: center;
}

.shops_list {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name{
    color: #b798c1;
    font-family: 'silk_serifitalic';
    font-size: 3rem;
    font-weight: 100;
    line-height: 10rem;
    text-decoration : none;   
    display: block;
}

.name:hover{
    font-style: 'silk_serifmedium';
    color: white;
    font-size: 3rem;
    /* transition: font-size ease; */
    transition: 0.3s ease-in-out;
}

.back_button {
    color: black;
    width: 0rem;
    height: 0rem;
    border: 1.5rem solid;
    border-top: 1.732rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.732rem solid #b798c1;
    border-left: 1rem solid transparent;
    position: fixed;
    margin-bottom: 100rem;
    margin-right: 100rem;
}

.Button {
    position: fixed;
    right: 6%;
    bottom: 12%;
    transform: translate(-100%, -0%);
}